<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <br>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>
  <br>
  <div class="field">
    <%= f.label :quiz_id, 'Associated Quiz' %>
    <%= f.number_field :quiz_id %>
  </div>
  <br>
  <div class="field">
    <%= f.label :right %><br>
    <%= f.text_field :right %>
  </div>
  <br
  <div class="field">
    <%= f.label :wrong_1 %><br>
    <%= f.text_field :wrong_1 %>
 </div>
  <br>
  <div class="field">
    <%= f.label :wrong_2 %><br>
    <%= f.text_field :wrong_2 %>
</div>
  <br>
  <div class="field">
    <%= f.label :wrong_3 %><br>
    <%= f.text_field :wrong_3 %>
</div>
  <br>
  <div class="field">
    <%= f.label :success %><br>
    <%= f.text_field :success %>
 </div>
  <br>
  <div class="field">
    <%= f.label :failure %><br>
    <%= f.text_field :failure %>
 </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
