<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ally.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ally.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @ally.logo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ally.description %>
</p>

<%= link_to 'Edit', edit_ally_path(@ally) %> |
<%= link_to 'Back', allies_path %>
