<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>
<p>
  <strong>Quiz ID:</strong>
  <%= @quiz.id %>
</p>
<p>
  <strong>Size:</strong>
  <%= @quiz.questions.count %> questions
</p>

<p>
  <strong>Success:</strong>
  <%= @quiz.success %>
</p>

<p>
  <strong>Failure:</strong>
  <%= @quiz.failure %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
