<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @quiz.size %>
</p>

<p>
  <strong>Score:</strong>
  <%= @quiz.score %>
</p>

<p>
  <strong>Success:</strong>
  <%= @quiz.success %>
</p>

<p>
  <strong>Failure:</strong>
  <%= @quiz.failure %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
