<div class='charger'>
<p id="notice"><%= notice %></p>

<p>
 
  <h2><%= @blog.title %></h2>
</p>

<p>

  <%= raw @blog.content %>
</p>

<br>

<p>
  <strong>Author:</strong>
  <%= @blog.author %>
</p>



<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
</div>
