<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @video.teaser %>
</p>

<p>
  <strong>Embed url:</strong>
  <%= @video.embed_url %>
</p>

<p>
  <strong>File location:</strong>
  <%= @video.file_location %>
</p>

<p>
  <strong>Source:</strong>
  <%= @video.source %>
</p>

<p>
  <strong>Published:</strong>
  <%= @video.published %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
