<p id="notice"><%= notice %></p>


 
  <h2><%= @company.name %></h2>


<p>
  <strong>Web address:</strong>
  <%= link_to @company.web_address, "http://www.picoempowerment.com" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
