<div class='charger'>
<h1>Contents</h1>

 
    <% @chapters.each do |chapter| %>
   <div>
      <h2> <%= chapter.number %>: <%= link_to chapter.title, chapter_path(chapter) %>  
        <%= link_to "Take Quiz", take_quiz_chapter_path(chapter), class: 'btn' %></h2>
      
       <%= chapter.teaser %> 
    </div>
  
    <% end %>
  
</table>

<br>

<%= link_to 'New Chapter', new_chapter_path %>
</div>