
<div class='charger'>
<!-- <p id="notice"><%#= notice %></p> -->


<div>
      <h2> <%= @chapter.number %>:  <%=  @chapter.title %> <%= link_to "Take Quiz", take_quiz_chapter_path(@chapter), class: 'btn' %></h2>

       
       
        <br>
        <%= @chapter.content %>
    </div>

Take the quiz - earn some points
<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
</div>