

<%= form_for @chapter.quiz do |f|  %>
 

<h2><%= @chapter.quiz.name %></h2>
<div id="accordion">

<% @chapter.quiz.questions.shuffle.each_with_index do |question, index | %>

<% option_hash = {
 
  wrong_1: question[:wrong_1], 
  wrong_2: question[:wrong_2], 
  right: question[:right], 
  wrong_3: question[:wrong_3] } %>



 <% number = index + 1 %>
  <%= fields_for :question, question do |q|%>
  <h3> <%= number %>: <%= question.text  %></h3>
    <div> 
 <% key_array = [:right, :wrong_1, :wrong_2, :wrong_3].shuffle %>
  <% key_array.each do |key| %>
    <%= label_tag("question_#{question.id}_#{key}") do %>
      <%= radio_button_tag("question[#{question.id}]", key)  %>
      <%= option_hash[key] %>
        <% end %>
      <% end %>
    </div>
  <% end %>

 <% end %>

<br>
<input type="submit" value="Check your answers">

 
<% end %>

</div>


  <%# @question = question %>
   <%# @index = index + 1%>
   <%#= render '/questions/question_display', locals: {question: question } %>