
 <%# unless controller='home_controller'%>
<ul class="nav">
  <li><%= link_to 'Home', (current_user ? design_index_path : design_introduction_path) %></li>
  <li><%#= link_to 'About', page_path('about') %></li>
  <li><%= link_to 'News', articles_path if current_user %></li>
   <li><%= link_to 'Chapters', chapters_path if current_user %></li>
  <li><%= link_to 'Blog', blogs_path if current_user %></li>
  <li><%= link_to 'Vote', culsertions_path if current_user %></li>
   <li><%= link_to 'Companies', companies_path if current_user%></li>
    <li><%= link_to 'Allies', allies_path if current_user%></li>
    <li><%= link_to 'questions', questions_path if current_user%></li>
       <li><%= link_to 'Quizzes', quizzes_path if current_user%></li>
          <li><%= link_to 'Fun', new_user_registration_path unless current_user%></li>
   <li><%#= link_to 'Admin', admin_root_path %></li>
  <li>
    <a href="#">   <%#=  image_tag("twitter.png") unless current_user %></a>

     <!-- <img alt="Twitter" height="34" src="/assets/icons/twitter.png" width="34" /> -->
      <!-- <span class="name">follow on Twitter</span> -->

  </li>
  <li>  <a href="#">   <%#=  image_tag("facebook.png", height: "34", class: "facebook")  %></a>
   
    <!-- <span class="name">follow on Facebook</span> -->
  </li>
</ul>
     <div class="pull-right">
    
        <% if current_user %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success' %>
        <% end %>
      </div>

    <%# end %>
      