<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

  

  </head>
  <body class="gradient">
        <div id="bubble" class = "gradient">

<!--  <header class="navbar navbar-fixed-top"> -->
    <header class="navbar splash">

      <div class="banner row"> 

        <div class="span10">
        <span id="main-title">Design Your Society</span>
       <span id="subtitle">So the little guy can win!</span>
         
        </div>
 <%#= image_tag("winning_crowd.png", height: '100')  %>

        <!-- <div class="span4 offset1"></div> -->
      <!-- </div> -->
       

      </div>
      <nav class="navbar-inner">

        <h4 id="mission">
        <span> Home of the information-age alternative to corruption, socialism and totalitarianism. </span>

      </h4>

        <div class="container">
        
        </div>
      </nav>

    </header>


    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>

              <!-- <div class='charger'> -->
                <%= yield %>
              <!-- </div> -->
            
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
      </div>
  </body>
</html>